#introduction {
  align-items : top; 
  margin-top : 50px; /* pushing it down */
  width : 80%;
  margin : 0 auto; /* center the whole section */
}

.name-picture {
  display : flex;
  align-items: flex-start;
  gap : 40px;
}

.name{
  font-size : 26px;
  line-height : 1.3;
  text-align : left;
}

#intro-header .name-highlight {
  color : #00F0FF; /* Highlight color */
}

#introduction hr {
  border : 2px solid #ffffff;
  width: 15%;
  margin : 20px 0; /* spacing above and below */
}

/* Coding, Developing , Producing */

#introduction .love {
  align-items: top;
  gap : 20px; 
  font-family : 'Courier New', Courier, monospace;
  font-style : italic;
  font-weight : bold;
  line-height: 1.8;
}

#introduction .produce {
  display: inline-block;
  margin-left : 330px;
}

#introduction .develop {
  display: inline-block;
  margin-left : 350px;
  white-space: nowrap;
}


/* Profile Picture */

#introduction .profile-pic {
  width : 300px;
  height : 300px;
  object-fit: cover;   /* crop image to fit circle */
  border-radius : 50%; /* rounded corners */
  border : 4px solid #00F0FF; /* adds a border */
  object-position: 50% 60%; /* adjust position of image within circle */
  margin : 20px auto auto;
}

/* Contact Details icons */

/*==== Contact Details =====*/
#contact-details {
  display : flex; 
  text-align : left;
  align-items : center;
  gap : 20px;
  width: 80%;
  margin : 0 auto; /* center the whole section */

}

.icon {
  width : 40px;
  height : 40px;
  border-radius : 10px;
}

.contact {
  display : flex;
  align-items: center;
}

.contact span {
  padding-left: 10px;
}

.contact img {
  border-radius : 50%;
  object-fit: cover;
}

.copy {
  cursor : pointer; /* show hand pointer when hovered over */
  transition : color 
                0.3s 
                ease; /* gradual transition rather than instantaneous */
}

.copy:hover{
  color: #00F0FF;
}
